<input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" id="listSearch">
<table>
    <th>ID</th>
    <th>Name</th>
    <th>Action</th>
    <tbody>
        <tr *ngFor="let student of data | searchData : query">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td><a (click)="openModal(edit)">edit</a></td>
            <!-- edit modal -->
            <ng-template #edit>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Modal</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editStudentForm" (ngSubmit)="onSubmit(student.id)">
                        <div class="form-group">
                            <label for="">Student ID</label>
                            <input formControlName="studentId" class="form-control" type="number" id=""
                                [ngModel]="student.id" required>
                            <span class="text-danger"
                                *ngIf="editStudentForm.controls.studentId.invalid && editStudentForm.controls.studentId.dirty">
                                ID is required</span>
                        </div>
                        <div class="form-group">
                            <label for="">Student Name</label>
                            <input formControlName="studentName" class="form-control" type="text" id=""
                                [ngModel]="student.name">
                            <span class="text-danger"
                                *ngIf="editStudentForm.controls.studentName.invalid && editStudentForm.controls.studentName.dirty">
                                Name is required</span>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-success" type="submit">Save</button>
                            <button class="btn btn-danger" type="reset" (click)="modalRef.hide()">close</button>
                        </div>
                    </form>
                </div>
            </ng-template>
        </tr>
    </tbody>
</table>